<head>
  <link rel="stylesheet" href="/css/footer.css" />
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>

<body>
 
  <div class="footer">
    <div class="heading"> 
      <hr>
      <h2>echaleOjo<sup>™</sup></h2>
    </div>
    <div class="content">
      <div class="services">
        <h4>Servicios</h4>
        <p><a href="#">Mapa</a></p>
        <p><a href="#">Anunciate</a></p>
        <p><a href="#">D....</a></p>
        <p><a href="#">W...</a></p>
      </div>
      <div class="social-media">
        <h4>Social</h4>
        <p>
          <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
        </p>
        <p>
          <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="https://github.com/farazc60"><i class="fab fa-github"></i> Github</a>
        </p>
        <p>
          <a href="https://www.facebook.com/codewithfaraz"><i class="fab fa-facebook"></i> Facebook</a>
        </p>
        <p>
          <a href="https://www.instagram.com/codewithfaraz"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
      <div class="links">
        <h4>Links</h4>
        <p><a href="#">Home</a></p>
        <p><a href="#">Acerca</a></p>
        <p><a href="#">Blogs</a></p>
        <p><a href="#">Contacto</a></p>
      </div>
      <div class="details">
        <h4 class="address">Dirección</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. Cupiditate, qui!
        </p>
        <h4 class="mobile">Whats</h4>
        <p><a href="#">+91-12225*****</a></p>
        <h4 class="mail">Email</h4>
        <p><a href="#">farazc60@gmail.com</a></p>
      </div>
    </div>
    <footer>
      <hr />
      © 2023 echaleOJO.
    </footer>
  </div>
</body>

</html>