<link rel="stylesheet" href="https://i.icomoon.io/public/temp/58a5457f00/UntitledProject/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <footer>
      <div class="ir-arriba icon-arrow-up"></div>
      <p>&copy; 2023 - echaleOJO</p>
    </footer>

  </div>

</body>

</html>
