<!-- Archivo de footer incluido en todas la paginas del sitio web -->

<head>
  <link rel="stylesheet" href="/css/footer.css" />
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>

</head>

<body>
 
  <div class="footer">
    <div class="heading"> 
      <hr>
      <h2>echaleOjo<sup>™</sup></h2>
    </div>
    <div class="content">
      <div class="social-media">
        <h4>Social</h4>
        <p>
          <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i> Twitter</a>
        </p>
        <p>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a>
        </p>
        <p>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
      </div>
    </div>
    <footer>
      <hr />
      © 2023 echaleOJO.
    </footer>
  </div>
</body>

</html>