<!-- Pagina de acerca de echaleOjo -->

<%- include("_header") -%>

    <h1>Acera de echaleOJO</h1>

    <p> Es la solución a la problemática de tu comunidad. Unifica tu comunidad al formar un solo frente. Se parte del
    fortalecimiento comunitario con el fin de alcanzar una especial atención de aquellos que son más vulnerables. 
    Si te gusta  correr, caminar, andar en bici alrededor de tus calles libremente y seguramente registrate y alerta y notfica a tu comunidad focos
    rojos que atender como sociedad.
    <br>Esta app suma por un desarrollo sostenible urbano. Por lo
    tanto, la comunicación que marcará la diferencia, logrando los cambios en las acciones y políticas dentro de tu comunidad.

    Aparte de hacer conciencia social de cuidar a los animales domésticos y tener calles libres de perros sueltos, se
    conecte con los negocios locales del área a través de anuncios que se mostrarán en la app, mejorando la economía local,
    también servirá para implementar la ubicación de necesidades físicas de la vía pública como baches, luces fundidas etc.
    ‘’Esta aplicación promueve la responsabilidad conjunta entre las comunidades y las autoridades correspondientes de cada
    vecindario.’’

    </p>

<%- include("_footer") -%>
