<!-- Pagina de principal -->

<%- include("_headerinicial") -%>
<head>
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/data.css" />
</head>
<section class="header">
    <h1>Echale Ojo</h1>
    <p>¡Trabajemos juntos para mantener nuestra colonia segura y protegida!</p>
    <a class="btn-bgstroke" href="/mapa">Ver mapa</a>
</section>
<div class="background-2" id="what-is">
  <div class="container">
      <div class="row">
          <div class="col s12 center-align">
              <h2 class="title-what-is"  data-aos="zoom-in">¿Qué es Echale OJO?</h2>
              <div class="line-shape"></div>
              <br>
              <p class="text-sideflip">
                Con nuestra herramienta, puedes informar y alertar fácilmente sobre cualquier actividad sospechosa en tu vecindario.
                Además, puedes recibir actualizaciones en tiempo real sobre la actividad en tu zona y colaborar con otros miembros de la comunidad para garantizar la seguridad de todos.
              </p>
          </div>
      </div>
</div>
<section class="contenedor sobre-nosotros">
  <h2 class="titulo">Pasos a seguir</h2>
  <div class="contenedor-sobre-nosotros">
      <img src="https://images.pexels.com/photos/5794250/pexels-photo-5794250.jpeg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
          <h3><span>1</span>Registro</h3>
          <p>Ve al link de Registro e ingresa los datos que te soliciten.</p>
          <h3><span>2</span>Mapa Interactivo</h3>
          <p>En el mapa crea un pin alertando o notificando a tus vecinos de focos rojos</p>
              <h3><span>3</span>Anuncios</h3>
          <p>Conoce la promociones locales.</p>
              <a class="btn-bgstroke" href="/signup">Registrarse</a>
      </div>
  </div>
</section>
</div class="background-2" id="what-is">
<section class="eldiv">
    <h1 class="gallerytitulo">Nuestra Galeria </h1>
    <div class="gallery">
      <img src="https://images.unsplash.com/photo-1516470930795-6ba2564824aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" title="TITLE 1">
      <img src="https://images.unsplash.com/photo-1535401991746-da3d9055713e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=863&q=80" title="TITLE 2">
      <img src="https://images.unsplash.com/photo-1523133892278-d324fa6b326b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ba6e3178a138e7dcbdd241499378449&auto=format&fit=crop&w=500&q=60" title="TITLE 3">
      <img src="https://images.unsplash.com/photo-1523282310917-57c94215f54f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9562049492c4c1c28014be6b4d372fa8&auto=format&fit=crop&w=500&q=60" title="TITLE 4">
      <img src="https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" title="TITLE 5">
      <img src="https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80" title="TITLE 6">
    </div>
  </section>
   <script>
    window.onload = () => {
        for (let i of document.querySelectorAll(".gallery img")) {
          i.onclick = () => i.classList.toggle("full");
        }
      };
   </script>
<%- include("_footer") -%>
