<!-- Pagina de login con link a pagina de registro -->
<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<%- include("_headerinicial") -%>

    <body>
        <div class="inner-screen">

            <form class="form" method="post">
                <h2>LOGIN</h2>
                <div>
                    <label for="username1">Username</label>
                    <input type="text" name="username" id="username1" />
                </div>
                <div>
                    <label for="passw1">Contraseña</label>
                    <input type="password" name="password" id="passw1" />
                </div>
                <div>
                    <input type="submit" value="entrar" />
                </div>
            </form>
            <a href="/register">REGISTRARSE</a>
        </div>
    </body>

<%- include("_footer") -%>