<%- include("_headerinicial") -%>
<head>
	<title>Echale Ojo</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
	<link rel="stylesheet" type="text/css" href="/css/mapa.css"/>	
</head>
	<h1>Echale OJO</h1>
	<select name="select-location" id="select-location">
		<option value="-1">Seleccione un lugar:</option>
		<option value="20.673893, -103.350652">Zona centro</option>
    <option value="20.675689, -103.334109">San Juan de Dios</option>
		<option value="20.672570, -103.367525">Col. Americana</option>	
		<option value="20.663315, -103.385290">Jardines del bosque</option>
	</select>
	<div id="map"></div>
</div>
<body>	

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   		crossorigin=""></script>   		
	
	<script src="/css/mapa.js"></script>
</body>
<%- include("_footer") -%>