<%- include("_headerinicial") -%>
<head>
	<title>Echale Ojo</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <link rel="stylesheet" type="text/css" href="/css/mapa.css"/>	
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/58a5457f00/UntitledProject/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<div>
	<h1 id="titulo-mapa">Mapa interactivo</h1>
	<p id="parrafo-map"> ¡Mantén tu colonia segura con nuestra aplicación de vigilancia comunitaria! Con nuestra herramienta, puedes informar y alertar fácilmente sobre cualquier actividad sospechosa en tu vecindario. 
		<br>Además, puedes recibir actualizaciones en tiempo real sobre la actividad en tu zona y colaborar con otros miembros de la comunidad para garantizar la seguridad de todos. 
		<br>¡Trabajemos juntos para mantener nuestra colonia segura y protegida!</p>
		
	<select name="select-location" id="select-location">
		<option value="-1">Seleccione un lugar:</option>
		<option value="20.673893, -103.350652">Zona centro</option>
    <option value="20.675689, -103.334109">San Juan de Dios</option>
		<option value="20.672570, -103.367525">Col. Americana</option>	
		<option value="20.663315, -103.385290">Jardines del bosque</option>
	</select>
</div>
	<div id="map"></div>
<body>	

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   		crossorigin=""></script>   		
       <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
	
	<script src="/css/mapa.js"></script>
</body>
<br>
<br>
<div class="ir-arriba icon-arrow-up"></div>
<%- include("_footer") -%>