<!-- Pagina de  de registro -->

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<%- include("_headerinicial") -%>

    <body>
        <div class="inner-screen">
            <form class="form" method="post">
                <h2>REGISTRO</h2>

                <div>
                    <label for="username1">Ingresa tu Username</label>
                    <input type="text" name="username" id="username1" />
                </div>
                <div>
                    <label for="passw1">Ingresa tu Contraseña</label>
                    <input type="password" name="password" id="passw1" />
                </div>
                <div>
                    <input type="submit" value="Registarse" />
                </div>
            </form>
        </div>
    </body>
    
<%- include("_footer") -%>